<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobpro.hslu.poker_operator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsBankroll"/>
        <activity android:name=".settings.SettingsCurrency"/>
        <activity android:name=".settings.SettingsGames"/>
        <activity android:name=".settings.SettingsLimit"/>
        <activity android:name=".settings.SettingsLocation"/>
        <activity android:name=".settings.SettingsStake"/>

    </application>

</manifest>
